.containerapp {
  background: #0D1117;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}



.clubes {
    justify-content: center;
    margin: 10px 150px 10px 150px;

    width: auto;
    height: auto;
    border: solid black 5px;
}

    .buttoncontainer{
      display: flex;
      justify-content: space-between;
    }
  
  .form {
    width: 1000px;
    height: 500px;
    background: #fff;
    display: flex;
    justify-content: center;
  }
  
  .imgContainer {
    background: black;
    object-fit: cover;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imgContainer h1 {
    color: white;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  
  .formContainer {
    justify-content: center;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
  }
  
  .formContainer i {
    color: black;
  }
  
  .title {
    color: rgb(17, 17, 17);
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }
  
  .form label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #2c3546;
  }
  
  .form input {
    display: block;
    width: 100%;
    height: 44px;
    border: none;
    border-bottom: 1px solid #181b20;
    background: transparent;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .form input::placeholder {
    color: #667085;
  }
  
  .botonver{
    display: block;
    outline: none;
    border: none;
    width: auto;
    height: 44px;
    background: linear-gradient(45deg, rgb(11, 137, 234), rgb(34, 34, 121));
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .buttonlink{
    margin-right: 50px;
  }

  
  .botonver:hover{
    background: linear-gradient(45deg, rgb(162, 26, 183), rgb(149, 172, 189));
    color: white;
  }
  
  .form .googleBtn {
    background: #ffffff;
    border: 1px solid #d0d5dd;
    color: #344054;
  }
  
  .form .redirect {
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #475467;
  }
  
  .form .txt {
    font-weight: 600;
    color: #181b20;
    text-decoration: underline;
  }
  
  .form .txt:hover {
    color: rgb(58, 174, 58);
  }
  
  @media (max-width: 768px) {
    .form {
      width: 300px;
      height: 400px;
    }
  
    .imgContainer {
      display: none;
    }
  
    .formContainer {
      padding: 45px 50px 50px 50px;
      width: 100%;
    }
  
    .title {
      color: rgb(17, 17, 17);
      font-size: 20px;
      text-align: center;
      font-weight: 600;
    }
  
    .form label {
      display: block;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 5px;
      color: #2c3546;
    }
  
    .form input {
      margin-bottom: 6px;
      height: 30px;
    }
  
    .form .submitBtn,
    .form .googleBtn {
      margin-bottom: 6px;
      font-size: 14px;
      height: 30px;
      font-size: 12px;
    }
  
    .form .redirect {
      font-size: 10px;
    }
  }
  
  @media (max-width: 1000px) {
    .form {
      width: 300px;
      height: 375px;
    }
  
    .imgContainer {
      display: none;
    }
  
    .formContainer {
      padding: 45px 50px 50px 50px;
      width: 100%;
    }
  
    .title {
      color: rgb(17, 17, 17);
    }
}