.containerR {
    background: #000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  .formR {
    width: 850px;
    height: 650px;
    background: #ffff;
    display: flex;
    justify-content: center;
  }
  
  .input {
    color: #000;
  }
  
  .imgContainer {
    background: #000;
    object-fit: cover;
    width: 50%;
  }
  
  .img {
    width: 100%;
    height: 100%;
  }
  
  .formContainerR {
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80vh;
  }
  .formContainerP {
    padding: 25px;
    display: flex;
    flex-direction: column;

    height: 90vh;
    align-items:start;
  }
  
  .formContainerR {
    color: #ffff;
  }
  
  .title {
    color: #111;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }
  
  .formR .label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #2c3546;
  }
  
  .formR .input {
    display: block;
    width: 100%;
    height: 44px;
    border: none;
    border-bottom: 1px solid #181b20;
    background: transparent;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #000;
  }
  
  .formR .input::placeholder {
    color: #667085;
  }
  
  .formR .submitBtn,
  .formR .googleBtn {
    display: block;
    outline: none;
    border: none;
    height: 44px;
    background: linear-gradient(45deg, rgb(11, 137, 234), rgb(34, 34, 121));
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 8px;
    width: 100%;
  }
  
  .formR .submitBtn:hover,
  .formR .googleBtn:hover {
    background: linear-gradient(45deg, rgb(26, 156, 14), rgb(14, 95, 156));
    color: #fff;
  }
  
  .formR .googleBtn {
    background: #fff;
    border: 1px solid #d0d5dd;
    color: #344054;
  }
  
  .formR .redirect {
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #475467;
  }
  
  .formR .txt {
    font-weight: 600;
    color: #181b20;
    text-decoration: underline;
  }
  
  .formR .txt:hover {
    color: rgb(58, 174, 58);
  }
  
  /* Media queries for responsiveness */
  
  @media (max-width: 768px) {
    .formR {
      flex-direction: column;
    }
    
    .imgContainer {
      width: 50%;
    }
    
    .formContainerR {
      width: 45%;
    }
  }